{% extends "edu/base.html" %}
<style>



</style>
{% block content %}
<div class="most-popular">
  <div class="row">
    <div class="col-lg-12">
      <div class="heading-section text-center">
        <h4> Аккаунтқа <em>Кіру</em> </h4>
      </div>
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <div class="item">
            <form method = "post"id="login-form">
              {% csrf_token %}
              <div class="form-group">
                <label>Телефон номер</label>
                {{ form.phone_number }}
                {{ form.phone_number.errors }}
              </div>
              <div class="form-group">
                <label>Құпиясөз</label>
                {{ form.password }}
                {{ form.password.errors }}
              </div>
              <br>
              <div class="main-border-button text-center">
                <button type = "submit" >Кіру</button>
              </div>    
            </form>
            
          </div>
          
          <!-- <div class="main-border-button text-center">
    
            <a href="/edu/sign-up/">Тіркелу</a>
          </div> -->
          <div class = "text-center">
            <p>Аккаунтыңыз болмаса <a href="/edu/sign-up/">Тіркелу</a></p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}s
