{% extends 'edu/base.html' %}
{% block content %}
    <div class="container">
        <div class="chat-box">
            <div class="chat-header">
                Жасанды интеллектімен чат
            </div>
            <div class="chat-content">
                <!-- Сюда добавляются сообщения -->
            </div>
            <div class="chat-input">
                <input type="text" placeholder="Бүгін қандай курсты оқисыз...">
                <button>Send</button>
            </div>
        </div>
    </div>

{% endblock %}