{% extends 'edu/base.html' %}
{% block content %}
  <h4 class="text-center mb-4">Курс программасы</h4>
			            
	<div class="accordion module-accordion" id="module-accordion">
	  <div class="module-item card">
							    <div class="module-header card-header" id="module-heading-1">
							        <h4 class="module-title mb-0">
								        <a class="card-toggle module-toggle" href="#module-1" data-bs-toggle="collapse" data-bs-target="#module-1" aria-expanded="true" aria-controls="module-1">
									        <i class="module-toggle-icon fas fa-minus me-2"></i>
                            {{course.title}}
								        </a>
							        </h4>
							    </div><!--//card-header-->
							
								<div id="module-1" class="module-content collapse show" aria-labelledby="module-heading-1" >
									<div class="card-body p-0">
										<div class="module-intro p-3">{{course.description}}</div>

                    {% for lesson in course.course_lesson.all %}
									    <div class="module-sub-item p-3">
										    <div class="row justify-content-between">
											    <div class="col-9"><span class="theme-text-secondary me-2"></span><a class="video-play-trigger" href="#" data-bs-toggle="modal" data-bs-target="#modal-video{{lesson.id}}">{{ lesson.title }}</a><span class="badge bg-primary ms-2">Көруге рұқсат</span></div>
											    <div class="col-3 text-end extra-info"></div>
										    </div>
                      </div>

                      <div class="modal modal-video" id="modal-video{{lesson.id}}" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
                            <div class="modal-body">
                              <div class="ratio ratio-16x9">
                                <iframe width="560" height="315" src = "{{lesson.video_url }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                              </div>
                            </div><!--//modal-body-->
                          </div><!--//modal-content-->
                        </div><!--//modal-dialog-->
                      </div><!--//modal-->
                    {% endfor %}
									    <!--//module-sub-item-->
									    <!--//module-sub-item-->
									    
									</div><!--//card-body-->
								</div><!--//module-content-->
                
		`</div><!--//module-item-->
    
    </div>
  <br>
  <div class="main-border-button text-center">
    {% if is_enrolled %}
      <a href="">Жазылдыңыз</a>
    {% else %}
  <div class="main-button">
  <form method="post">
    {% csrf_token %}
    
  
   
      <div class="main-border-button text-center"> 
        <button type = "submit">Курсқа жазылу </button>
      </div>    
  </form>
  {% endif %}
  {% endblock %}
  
  	<!-- Video Modal -->

	
