{% extends 'edu/base.html' %}




  
          <!-- ***** Banner Start ***** -->
        {% block content %}
          <div class="row">
            <div class="col-lg-12">
              <div class="main-profile ">
                <div class="row">
                  <div class="col-lg-4">
                    <img src="assets/images/profile.jpg" alt="" style="border-radius: 23px;">
                  </div>
                  <div class="col-lg-4 align-self-center">
                    <div class="main-info header-text">
          
                        {% if group_name == "teacher" %}
                          <span>Мұғалім</span>
                        {% else %}
                          <span>Студент</span>
                        {% endif %}
                     
                
                      <h4>{{user.first_name}} {{user.last_name}}</h4>
                      <!-- <p>{{user.phone_number}}</p> -->
                      <!-- <div class="main-border-button">
                        <a href="#">Ақпаратты өзгерту</a>
                      </div> -->
                      <div class="main-border-button">
                        <a href="/logout/">Аккаунттан шығу</a>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4 align-self-center">
                    <ul>
                      <li>Номерім <span>{{user.phone_number}}</span></li>
                      <li>Логинім <span>{{user.username}}</span></li>
                      <li>Ұпай <span>100</span></li>
                      
                    </ul>
                  </div>
                </div>
            </div>
          </div>
      </div> 
      {% endblock %}
  



 
